.footer{
    width: 100%;
    height: 400px;
    display: flex;
    float: left;
}
.boxfooter1{
    width: 350px;
    height: 350px;
    padding-left: 40px;
    font-size: 18px;
    line-height: 25px;
}
.footerheading{
    font-size: 22px;
}
.boxfooter2{
    width: 350px;
    height: 350px;
    padding-left: 30px;
    font-size: 18px;
    line-height: 25px;
}
.text{
    padding-top: 75px;
}
.boxfooter3{
    width: 350px;
    height: 350px;
    padding-left: 40px;
    font-size: 18px;
    line-height: 25px;
}
.boxfooter3 a{
    color: black;
    text-decoration: none;
}
.boxfooter3 a:hover{
    color: blue;
}
.boxfooter3 li:hover{
color: blue;
}
.boxfooter4{
    width: 500px;
    height: 350px;
    padding-left: 40px;
    font-size: 18px;
    line-height: 25px;
}