#formdangky{width: 415px; margin: auto;}
#thongtin{margin-top: 15px; font-size: 15px;}

.warn{color: red;}

button{border-radius: 20px 20px; background-color: rgb(2, 163, 2); width: 415px; cursor: pointer; height: 35px; margin-top: 10px; margin-bottom: 10px; }
.signin:hover{background:transparent}

input{border:none; border-bottom: 1px solid black; background: transparent; font-size: 15px; margin-top: 5px;}

.link a{color: blue; text-decoration: underline;}
.link a:hover{color: red; text-decoration:underline;}
.forgotpass{text-align: center;}
.forgotpass a{color: gray;}

.login__container{border: 1px solid black; width: 530px; height: 350px; margin: 20px auto; background: transparent; backdrop-filter: blur(20px); box-shadow:  5px 8px rgba(0, 0, 0, 0.2);}

.hdangnhap{font-size: 26px; background:transparent; text-align: center;}
.button{ display: flex;justify-content: center;}

a{text-decoration: none; color: black;}
.menu{ height: 30px; display: flex;}
body{margin: 0; background: url(/doan/Lam/img/bg2.jpg);}
.footer{text-align: center;}
.menudangky{margin-left: 30px; color: blue; font-size: 18px;}
.left{width: 275px; border: 1px solid gray; background-color: gray;}
.right{border: 0px solid gray;}

/* *{font-family: Arial, Helvetica, sans-serif;} */

.icon{ width: 400px; position: absolute; right: -300px; margin-top: 6px;}
.Login{background:transparent; width: 550px; height: auto; margin: auto;}


.icon-hidden{display: none;}
.icon-hiddenn{display: none;}

.header{display: flex;}

.navi{display: flex;}

.space{margin-left: 40px;}
.space-1{margin-left: 19px; margin-top: 3px;}

.trangchinh{font-size: 25px; color: aliceblue;}

.container{
    margin-top: 25px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 90px;
    margin-left: 1000px; 
}

.container .toggle{
    border: 2px solid black;
    backdrop-filter: blur(2px);
    position: absolute;
    width: 60px;
    height: 25px;
    background: transparent;
    border-radius: 25px 25px;
    transition: 0.3s;
    margin-bottom: 3px;
}

.container .toggle .toggle-button{
    position: absolute;
    top: 2px;
    left: 5px; 
    width: 25px;
    height: 20px;
    background: yellowgreen;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.container .toggle.active{
    background:transparent;
}

.container .toggle.active .toggle-button{
    left:30px;
}

/* .container .text{
    position: absolute;
    left: 85px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
} */
